.comtab-pane {
  min-width: 200px;
  width: 400px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: yellow;
}

.comtab-disable {
  display: none;
}

.comtab-pane-group {
  position: absolute;
}

.comtab-pane-group_column {
  position: absolute;
}

.comtab-pane_handle {
  background-color: green;
  height: 20px;
}

.comtab-pane-dropready {
  opacity: .3;
}

.comtab-pane_gutter-active {
  background-color: orange;
}

.comtab-tab_header-active {
  background: orange;
}

.comtab-tab {
  background-color: blue;
}

.comtab-tab_content {
  display: none;
}

.comtab-tab_content-active {
  display: block;
}

.comtab-tab_btn {
  background-color: white;
}

.comtab-tab_btn-active {
  opacity: .9;
}

.comtab-stage {
  position: relative;
  /* width: 500px;
  height: 300px; */
  background-color: violet;
}

.comtab-absorb {
  position: absolute;
}

.comtab-absorb-horizontal {
  width: 100%;
  height: 7px;
}

.comtab-absorb-vertical {
  width: 7px;
  height: 100%;
}

.comtab-absorb-active {
  background-color: orange;
}

.comtab-absorb_top {
  top: -5px;
  left: 0;
}

.comtab-absorb_bottom {
  bottom: -5px;
  left: 0;
}

.comtab-absorb_left {
  top: 0;
  left: -5px;
}

.comtab-absorb_right {
  top: 0;
  right: -5px;
}

html, body, .comtab-stage {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
