.comtab-stage {
  position: relative;
  background-color: #4d4d4d;
}

.comtab-pane {
  min-width: 200px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  /* background-color: #484848; */
  background-color: #535353;
  border: 1px solid #383838;
  box-shadow: 0 0 1px 1px#232323;
  cursor: default;
  box-sizing: border-box;
}

.comtab-pane-group {
  display: table;
  position: absolute;
  box-shadow: 0 0 1px 1px#232323;
  box-sizing: border-box;
}

.comtab-pane-group_column {
  position: relative;
  display: table-cell;
}

.comtab-pane-group_column .comtab-pane {
  /* border: 0; */
  box-shadow: unset;
}

.comtab-pane_handle {
  background-color: #373737;
  height: 12px;
}

.comtab-pane-dropready {
  opacity: .3;
}

.comtab-pane_gutter-active {
  background-color: #0d64d2;
}

.comtab-tab_header {
  position: relative;
  background-color: #424242;
  font-size: 12px;
}

.comtab-tab_header-active {
  background: #0d64d2;
}

.comtab-tab_header_droppable {
  position: absolute;
  top: 2px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  z-index: -1;
}

.comtab-tab_content {
  display: none;
  padding: 10px 4px;
}

.comtab-tab_content-active {
  display: block;
}

.comtab-tab_btn {
  display: inline-block;
  padding: 1px 6px;
  color: #f0f0f0;
  background-color: #484848;
}

.comtab-tab_btn-active {
  background-color: #535353;
}

.comtab-absorb {
  position: absolute;
  z-index: 99;
}

.comtab-absorb-horizontal {
  width: 100%;
  height: 2px;
}

.comtab-absorb-vertical {
  width: 2px;
  height: 100%;
}

.comtab-absorb-active {
  background-color: #0d64d2;
  /* box-shadow: 0 0 4px 1px #0d64d2; */
}

.comtab-absorb_top {
  top: -2px;
  left: 0;
}

.comtab-absorb_bottom {
  bottom: -2px;
  left: 0;
}

.comtab-absorb_left {
  top: 0;
  left: -2px;
}

.comtab-absorb_right {
  top: 0;
  right: -2px;
}

html, body, .comtab-stage {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
